/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLOR SYSTEM
MAIN COLOR: #f1b8cb // the color of the background of the picture

MAIN COLOR OPEN COLORS: #fcc2d7 // I picked up this one
// MAIN COLOR TAILWIND: #FBCFE8

SECONDARY COLOR: #A61E4D; PINK9 OPENCOLOR
// SECONDARY COLOR-B: #62484b;

TERTIARY COLOR: ICONS & HOVER  #e64980 PINK6

GREY: #343a40
GREY: 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: sans-serif;
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #fcc2d7;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 144px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  color: #fff;
  color: #62484b;
  background-color: #fcc2d7;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #e64980;
  color: #fff;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 96px;
}

.header-text-box {
  align-self: center;
}

h1 {
  /* 44 / 52 / 62 / 74 */
  font-size: 74px;
  margin-bottom: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  /* text-shadow: 10px 20px 30px rgba(0, 0, 0, 0.07); */
  /* text-shadow: 10px 15px 0px rgba(0, 0, 0, 0.07); */
  text-shadow: 2px 2px 0px #62484b, 4px 4px 0px #e64980, 6px 6px 0px #fcc2d7,
    7px 7px 0px #e4e07d;
  text-shadow: 0 1px 0px #e64980, 1px 0 0px #fcc2d7, 1px 2px 1px #e64980,
    2px 1px 1px #fcc2d7, 2px 3px 2px #e64980, 3px 2px 2px #fcc2d7,
    3px 4px 2px #e64980, 4px 3px 3px #fcc2d7, 4px 5px 3px #e64980,
    5px 4px 2px #fcc2d7, 5px 6px 2px #e64980, 6px 5px 2px #fcc2d7,
    6px 7px 1px #e64980, 7px 6px 1px #fcc2d7, 7px 8px 0px #e64980,
    8px 7px 0px #fcc2d7;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Bodoni Moda", serif;
  word-spacing: 1.3px;
  font-style: italic;
}

img {
  width: 100%;
  border-radius: 6px;
}

/* FEATURES */
.features-icon {
  stroke: #62484b;
  stroke: #fcc2d7; /*MAINCOLOR*/
  /* PINK6 */
  stroke: #e64980;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #fcc2d7;
  color: #343a40;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-section img {
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #a61e4d;
}

.testimonial-author {
  color: #c2255c;
}

/* CHAIRS */

.chair {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.chair-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  font-size: 14px;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #e64980;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}

/* NOT READY YET*/

.nry--container {
  width: 80%;
  height: 70vh;
  margin: 30px auto;
  /* border: 1px solid black; */
  background-color: #fcc2d7;
  /* background-color: #fff; */
  border-radius: 12px;
  /* text-align: center; */
  /* vertical-align: middle; */
  position: relative;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}

.nry--h1 {
  position: absolute;
  top: 40%;
  left: 5vw;
}
